<div class="booyah-box col-xs-12 col-md-8 col-md-offset-2">
  <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
    <h1 class="title">SIR ERNEST SHACKLETON</h1>
    <br>
    <h3>1874 - 1922</h3>
  </div>

<br class="clear">
<br>

  <%= image_tag 'ernest.jpeg', class: 'img-responsive center-block portrait' %>

<br class="clear">
<br>
<br>
<br>

  <h2 class="text-center">YOUTH</h2>
  <hr class="col-xs-10 col-xs-offset-1">
  <br>

  <p class="col-xs-12 col-md-5 col-md-offset-1 text-justify">Ernest Henry Shackleton was born on the 15th February in 1874 in Kilkea House, County Kildare in Ireland.<br><br>
  After attending school at Dulwich College as a day boy Ernest, aged 16, joined the Merchant Navy. After 10 years he gave that up and joined a British Expedition led by Captain Robert Falcon Scott to try and be the first to reach the South Pole.</p>

  <div class="col-xs-12 col-md-5">
    <%= image_tag 'young.jpeg', class: 'img-responsive center-block image' %>
    <br>
    <h6 class="text-center">
      Young Shackleton
    </h6>
  </div>

  <br class="clear">
  <br>
  <br>
  <br>

  <h2 class="text-center">EXPEDITIONS AND THE ENDURANCE</h2>
    <hr class="col-xs-10 col-xs-offset-1">
    <br class="clear">
    <br>

  <p class="col-xs-12 col-md-10 col-md-offset-1 text-justify">After the Norwegian Amundsen (December 1911) and Scott (January 1912) had reached the South Pole, Shackleton thought up and attempted to carry out another great plan - to cross the 2000 mile Antarctic continent.
  <br><br>
  This trip was a very successful failure.
  <br><br>
  The team of 28 men and 68 dogs never set foot on the continent ( the husky dogs had come from Gimli near Winnipeg, crated in cattle cars to Montreal and shipped in the cattle boat 'Montcalm' to England ).
  <br><br>
  Shackleton's ship the "Endurance"(named after our family motto "By Endurance we conquer" ) was trapped in the ice in the Weddell Sea for 11 months, from January 1915 until it was squashed and sank in November 1915, leaving 28 men on the ice with 3 small ship's boats.
  <br><br>
  They then spent 5 ( admittedly summer) months on an iceberg floating away from the continent.
  <br><br>
  With great good fortune they landed on Elephant Island on the 15th of April 1916. It is a small godforsaken island of rock and ice with a few penguins and seals for food.</p>

  <br class="clear">
  <br>

  <div class="col-xs-12 col-md-5 col-md-offset-1">
    <%= image_tag 'endurance.jpeg', class: 'img-responsive center-block image' %>
    <br>
    <h6 class="text-center">
      'The End' of the Endurance - November 1915.
    </h6>
  </div>

  <p class="col-xs-12 col-md-4 col-md-offset-1 text-justify">So there they were in April 1916, lost to the civilised world, and heading into an Antarctic winter. Losing no time Shackleton's next move was to be one of the greatest small boat journeys ever made. Shackleton and 5 others set off in the 22 foot boat the "James Caird" on an 800 mile journey across one of the roughest seas in the world to island of South Georgia to get help.</p>

  <br class="clear">
  <br>

  <p class="col-xs-12 col-md-10 col-md-offset-1 text-justify">Two other members of the crew were from Ireland - Tom Crean from Annascaul in County Kerry and Tim McCarthy from County Cork. Tom Crean was one of the great crew members of the heroic age of Antarctic exploration.He was strong, courageous and good humoured and experienced - he had already already been on two of Scott's expeditions - and was awarded the Albert Medal for bravery. Frank Worsley,the superb New Zealand navigator of the "James Caird' described Tim McCarthy as"the most irrepressible optimist i have ever met". Despite their awful conditions McCarthy was always happy - and it was him who first spotted South Georgia, 15 days after they had left Elephant Island.</p>

  <br class="clear">
  <br>

  <p class="col-xs-12 col-md-10 col-md-offset-1 text-justify">Their extraordinary journey was not yet over - to reach help, Shackleton, Crean and Worsley then had to cross the mountains, glaciers and snowfields of South Georgia to get to the whaling station at Stromness. Three and a half months later, at the fourth attempt, Shackleton, in a Chilean tug the "Yelcho' rescued the remaining 22 crew on Elephant Island on the 30th August 1916. It was amazing that all the crew had survived.
  <br><br>
  In December Shackleton left New Zealand on the Aurora to rescue the Ross Sea Party from Cape Royds - on the other side of the Antarctic , this party had successfully laid food depots along the Ross Ice Shelf towards the South Pole. Shackleton had intended to use these as he crossed the Continent from the Weddell Sea side.</p>
  <br class="clear">
  <br>

  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <%= image_tag 'boat.jpeg', class: 'img-responsive center-block image' %>
    <br>
   <h6 class="text-center">Rescue from Elephant Island - 30th August 1916</h6>
  </div>

  <br class="clear">
  <br>
  <br>
  <br>

  <h2 class="text-center">DEATH</h2>
  <hr class="col-xs-10 col-xs-offset-1">
  <br class="clear">
  <br>

  <p class="col-xs-12 col-md-10 col-md-offset-1 text-justify">The 1921 trip on the Quest was his final journey. He died of a heart attack in the early hours of the 5th January 1922 shortly after the start of the expedition, at Grytviken in South Georgia where he was buried.<br><br>

  A few months later on their journey home the crew of the Quest erected a cross at King Edward Point, across the bay from the cemetery where their "Boss" lies buried.</p>

  <br class="clear">
  <br>

  <div class="col-xs-6 col-xs-offset-3">
      <%= image_tag 'grave.jpeg', class: 'img-responsive center-block image' %>
    <br>
    <h6 class="text-center">
       Shackleton's Grave in the Cemetery at Grytviken, South Georgia
    </h6>
  </div>

  <br class="clear">
  <br>
  <br>


  <!-- Error is the comment is too short -->

  <% if flash[:error] %>
    <p class="alert alert-danger text-center"><%= flash[:error] %>
      <button class="close" data-dismiss="alert">×</button>
    </p>
  <% end %>

  <!-- Comment boxes -->

  <div class="col-xs-12 col-lg-10 col-lg-offset-1">
    <% Comment.all.each do |comment| %>
        <div class="comment-box">

          <p class="name clear">
            <i class="glyphicon glyphicon-user"></i>&nbsp;
            <%= comment.name %>
          </p>
      <hr class="col-xs-2">

          <p class="comment clear">
            <i class="glyphicon glyphicon-pencil"></i>&nbsp;
            <%= comment.text %>
          </p>
        </div>
      <% end %>
  <br class="clear">

  <div class='booyah-box col-xs-12 col-md-10 col-md-offset-1'>
    <h4>Add a Comment</h4>
      <%= simple_form_for(@comment, html: { class: 'form-horizontal' }, url: comments_path) do |t| %>
      <div class="modal-body">
          <%= t.input :name, placeholder: 'Your name...' %>
          <br>
          <%= t.label :text, "Comment" %>
          <%= t.input_field :text, placeholder: 'Your comment...' %>
      </div>
      <div class="modal-footer">
        <%= t.submit "Post Comment", class: "btn btn-primary" %>
      </div>
      <% end %>
  </div>

  <br class="clear">
  <br>

    <div class="cols-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 footer-social">
        <%= link_to 'https://github.com/aleksgorbenko' do %>
          <%= image_tag 'github.png', class: 'social-button', alt: 'GitHub Aleks Gorbenko' %>
        <% end %>
        <%= link_to 'https://uk.linkedin.com/in/seospecialistlondon' do %>
          <%= image_tag 'linkedin.png', class: 'social-button', alt: 'LinkedIn Aleks Gorbenko' %>
        <% end %>
        <%= link_to 'https://www.facebook.com/aleksandrgorbenko12' do %>
          <%= image_tag 'facebook.png', class: 'social-button', alt: 'Facebook Aleks Gorbenko' %>
        <% end %>
      </div>
      <div class="col-xs-12 text-center">
        Coded by <a href='https://aleksgorbenko.com'>Aleks Gorbenko</a>. Built for <a href="https://www.thefirehoseproject.com">The Firehose Project</a>.<br>
        This project was also used for FreeCodeCamp.com.
      </div>
</div>